.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.top-section {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; /* Adds wrapping for child elements */
  gap: 20px; /* Adds spacing */
}

.notifications-container {
  max-height: 500px; /* Adjust based on your layout */
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; /* Ensures full screen utilized */}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-bottom: 10px; /* Adds space between list items */
  padding: 5px; /* Padding for each item */
  background: #f9f9f9; /* Light background for visibility */
  border-radius: 5px; /* Optional: Rounded corners for better visuals */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds subtle shadow */
  word-wrap: break-word; /* Ensures long words do not overflow */
}

.calendar-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  min-width: 300px; /* Better for visibility on minimized screens */

}

.reset-section {
  margin-top: 20px; 
  width: 100%; 
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.reset-button {
  background-color: #ff4d4d; /* Changed for Button Variation - Red Background */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.delete-button {
  background-color: #ff4d4d; /* Red background */
  color: white; /* White text */
  border: none;
  padding: 4px 8px;
  margin-top: 5px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.delete-button:hover {
  background-color: #ff0000; /* Darker shade of red on hover */
}

button:hover {
  opacity: 0.9; /* Enables hover effect */
}
.email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.email-input,
.email-textarea {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-textarea {
  height: 100px;
  resize: none;
}

.email-button {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.email-button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .top-section {
    flex-direction: column; /* Vertical Stack */
    align-items: center;
  }

  .calendar-container {
    width: 100%; /* Full width for minimized screens */
  }

  .notifications-container {
    width: 100%; /* Full width for minimized screens */
  }
}