.emails-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Filter container styling */
  .filter-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  /* Label styling */
  .filter-container label {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.1em;
    color: #007bff;
    
  }
  
  /* Select dropdown styling */
  .filter-container select {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
    background: #ffffff;
    transition: border-color 0.3s ease;
  }
  
  .filter-container select:hover {
    border-color: #007bff;
  }
  
  /* Table styling */
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px !important;
  }
  
  table thead {
    background-color: #f5f5f5;
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 1em;
  }
  
  table th {
    font-weight: bold;
    color: #555;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tbody tr:hover {
    background-color: #f0f0f0;
    color: #333;
  }

/* Logout button styling */
.logout-button:hover {
    background-color: #0056b3;
}