/* Home.css */
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.left-container {
  flex: 3;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.right-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.task-item {
  display: flex;
  align-items: center; /* Aligns checkbox and text vertically */
  margin-bottom: 10px; /* Adds space between tasks */
}

.task-item input[type="checkbox"] {
  margin-right: 10px; /* Adds space between checkbox and label */
}

.notifications-container,
.calendar-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; /* Make sure the container can expand vertically */
}

.notifications-container {
  margin-right: 20px; /* Adjust space between notifications and calendar */
}
/* CSS for the Reset Button */


.calendar-container {
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents the iframe from overflowing */
}

.calendar-container iframe {
  width: 100%; /* Adjust width to fit the container */
  max-height: 600px; /* Adjust height as necessary */
  border: none; /* Ensure no border around the iframe */
}

.go-to-form-button {
  width:20%;
  margin: 0 auto;
}

