.subhome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  gap:20px;
  box-sizing: border-box;
}

.left-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #e0e0e0; 
}

.right-container {
  flex: 3;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #e0e0e0; 
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f8f8ff; 
  padding: 10px;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.task-item input[type="checkbox"] {
  margin-right: 10px; 
  width: 18px; 
  height: 18px;
}

.task-item label {
  font-size: 16px;
}

.notifications-container,
.calendar-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column; 
}

.notifications-container {
  margin-right: 20px; 
}
/* CSS for the Reset Button */


.calendar-container {
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents the iframe from overflowing */
}

.calendar-container iframe {
  width: 100%; /* Adjust width to fit the container */
  max-height: 600px; /* Adjust height as necessary */
  border: none; /* Ensure no border around the iframe */
}

.go-to-form-button {
  width:20%;
  margin: 0 auto;
}

